[submodule "ScatterbrainSDK"]
	path = ScatterbrainSDK
	url = git@github.com:Scatterbrain-DTN/ScatterbrainSDK.git
[submodule "MaterialBanner"]
	path = MaterialBanner
	url = https://github.com/sergivonavi/MaterialBanner.git
